<main class="showcase">
	<article class="stats">
		<div class="stats--header">
			<picture>
				<source media="(min-width: 600px)" srcset="/assets/image-header-desktop.jpg">
				<img src="/assets/image-header-mobile.jpg" alt="Gabrielle Essence Eau De Parfum">
			</picture>
		</div>

		<div class="stats--content">
			<div class="stats--detail">
				<h1 class="title">
					Get <span class="title--accent">insights</span> that help your business grow.
				</h1>

				<p class="description">
					Discover the benefits of data analytics and make better decisions regarding revenue, customer experience, and overall efficiency.
				</p>
			</div>

			<div class="stats--numbers">
				<span class="companies" data-stat="companies">10k+</span>
				<span class="templates" data-stat="templates">314</span>
				<span class="queries" data-stat="queries">12m+</span>
			</div>
		</div>
	</article>
</main>
